<p id="notice"><%= notice %></p>

<center><h2>Turmas</h2></center>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @turmas.each do |turma| %>
      <tr>
        <td><%= turma.nome %></td>
        <td><%= link_to 'Show', turma %></td>
        <td><%= link_to 'Edit', edit_turma_path(turma) %></td>
        <td><%= link_to 'Destroy', turma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Turma', new_turma_path,:class=>'btn btn-primary btn-custom' %>
