<p id="notice"><%= notice %></p>

<center><h2>Alunos a desmatricular</h2></center>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Matrícula</th>
    <th scope="col">Nome</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @alunos_desmatriculados_dados_tratados.each do |usuarioDesmatriculados| %>
    <tr>
      <% usuarioAux = usuarioDesmatriculados.split("-") %>
      <td><%= p usuarioAux[0] %></td>
      <td><%= p usuarioAux[1] %></td>
      <td><%= link_to "desmatricular", '/situacao_alunos/desmatricular/'+usuarioAux[2] %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<center><h2>Alunos a matricular</h2></center>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Matrícula</th>
    <th scope="col">Nome</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @alunos_matriculados_dados_tratados.each do |usuarioMatriculados| %>
    <tr>
      <% usuarioAux = usuarioMatriculados.split("-") %>
      <td><%= p usuarioAux[0] %></td>
      <td><%= p usuarioAux[1] %></td>
      <td><%= link_to "matricular", '/situacao_alunos/matricular/'+usuarioAux[2] %></td>
    </tr>
  <% end %>
  </tbody>
</table>