<p id="notice"><%= notice %></p>

<h1>Relação do redimento dos alunos</h1>

<table>
  <thead>
    <tr>
      <th>Usuário</th>
      <th>Presente</th>
      <th>Trouxe Bíblia</th>
      <th>Trouxe lição</th>
      <th>Capítulos lidos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @folha_semanals.each do |folha_semanal| %>
      <tr>
        <td><%= folha_semanal.usuario_turma.usuario.nome %></td>
        <td><%= folha_semanal.presente %></td>
        <td><%= folha_semanal.trouxe_biblia %></td>
        <td><%= folha_semanal.trouxe_licao %></td>
        <td><%= folha_semanal.capitulos_lidos %></td>
        <td><%= link_to 'Show', folha_semanal %></td>
        <td><%= link_to 'Edit', edit_folha_semanal_path(folha_semanal) %></td>
        <td><%= link_to 'Destroy', folha_semanal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Folha Semanal', new_folha_semanal_path %>
