<p id="notice"><%= notice %></p>

<center><h1>Relação do rendimento dos alunos</h1></center>
<br>
<div class="table-responsive">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Usuário</th>
      <th scope="col">Presente</th>
      <th scope="col">Trouxe Bíblia</th>
      <th scope="col">Trouxe lição</th>
      <th scope="col">Capítulos lidos</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @folha_semanals.each do |folha_semanal| %>
      <tr>
        <td><%= folha_semanal.usuario_turma.usuario.nome %></td>
        <td><%= folha_semanal.presente %></td>
        <td><%= folha_semanal.trouxe_biblia %></td>
        <td><%= folha_semanal.trouxe_licao %></td>
        <td><%= folha_semanal.capitulos_lidos %></td>
        <td><%= link_to 'Show', folha_semanal %></td>
        <td><%= link_to 'Edit', edit_folha_semanal_path(folha_semanal) %></td>
        <td><%= link_to 'Destroy', folha_semanal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'Nova Folha Semanal', new_folha_semanal_path,:class=>'btn btn-primary btn-custom' %>
