<p id="notice"><%= notice %></p>

<center><h2>Alunos</h2></center>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Visitante</th>
      <th scope="col">Data nascimento</th>
      <th scope="col">Matricula</th>
      <th scope="col">Perfil</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nome %></td>
        <td><%= usuario.visitante %></td>
        <td><%= usuario.data_nascimento %></td>
        <td><%= usuario.matricula %></td>
        <td><%= usuario.perfil.nome %></td>
        <td><%= link_to 'Show', usuario %></td>
        <td><%= link_to 'Edit', edit_usuario_path(usuario) %></td>
        <td><%= link_to 'Destroy', usuario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Aluno', new_usuario_path, :class=> 'btn btn-primary btn-custom' %>
