<h1 style="">Relatório geral do dia <%= Time.now.strftime('%d/%m/%Y') %></h1>
<div class="table-responsive">
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Turma</th>
    <th scope="col">Matriculados</th>
    <th scope="col">Auxentes</th>
    <th scope="col">Presentes</th>
    <th scope="col">Visitantes</th>
    <th scope="col">Assistência total</th>
    <th scope="col">Capítulos lidos</th>
    <th scope="col">Trouxe bíblia</th>
    <th scope="col">Trouxe lição</th>
    <th scope="col">Oferta</th>
    <th colspan="10"></th>
  </tr>
  </thead>

  <tbody>

  <% @relatorio_diario_dados_tratados.each do |dadosTurma| %>
    <tr>
      <% turmaAux = dadosTurma.split("-") %>
      <td><%= turmaAux[0] %></td>
      <td><%= turmaAux[2].to_i + turmaAux[3].to_i %></td>
      <td><%= turmaAux[3] %></td>
      <td><%= turmaAux[2] %></td>
      <td><%= turmaAux[9] %></td>
      <td><%= turmaAux[9].to_i + turmaAux[2].to_i%></td>
      <td><%= turmaAux[1] %></td>
      <td><%= turmaAux[4] %></td>
      <td><%= turmaAux[6] %></td>
      <td><%= turmaAux[8] %></td>
    </tr>
  <% end %>
  </tbody>

</table>
</div>
  <br>
<h1>Aniversariantes da Semana</h1>
<div class="table-responsive">
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Nome</th>
    <th scope="col">Data de aniversário</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @aniversariantes_da_semana.each do |aniver| %>
    <tr>
      <td><%= aniver.nome %></td>
      <td><%= aniver.data_nascimento.strftime('%d/%m') %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>