<h1 style="">Relatório geral do dia <%= Time.now.strftime('%d/%m/%Y') %></h1>

<table>
  <thead>
  <tr>
    <th>Turma</th>
    <th>Auxentes</th>
    <th>Presentes</th>
    <th>Visitantes</th>
    <th>Assistência total</th>
    <th>Capítulos lidos</th>
    <th>Trouxe bíblia</th>
    <th>Trouxe lição</th>
    <th>Oferta</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @relatorio_diario_dados_tratados.each do |dadosTurma| %>
    <tr>
      <% turmaAux = dadosTurma.split("-") %>
      <td><%= turmaAux[0] %></td>
      <td><%= turmaAux[3] %></td>
      <td><%= turmaAux[2] %></td>
      <td><%= turmaAux[9] %></td>
      <td><%= turmaAux[9].to_i + turmaAux[2].to_i%></td>
      <td><%= turmaAux[1] %></td>
      <td><%= turmaAux[4] %></td>
      <td><%= turmaAux[6] %></td>
      <td><%= turmaAux[8] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h1>Aniversariantes da Semana</h1>

<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Data de aniversário</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

  <% @aniversariantes_da_semana.each do |aniver| %>
    <tr>
      <td><%= aniver.nome %></td>
      <td><%= aniver.data_nascimento.strftime('%d/%m') %></td>
    </tr>
  <% end %>
  </tbody>
</table>